<h1 class="page">New Ingredient Section</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.recipe_ingredient_section_path(@conn, :create, @recipe_id)) %>

<span><%= link "Back", to: Routes.recipe_path(@conn, :show, @recipe_id) %></span>

